Application/output/test_extension_allfeatures/xmia_Reverse_associations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.aixm.aero/schema/5.1/mxia"
    version="AIXM::coreVersion" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:aixm="http://www.aixm.aero/schema/5.1"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:mxia="http://www.aixm.aero/schema/5.1/mxia"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd"/>
    <import namespace="http://www.aixm.aero/schema/5.1" schemaLocation="./AIXM_Features.xsd"/>
    <!--*******************************************
This Application Schema is autogenerated from the core schema AIXM_Features.xsd. It supports the following reverse associations:
* [AerialRefuelling] ====> [InformationService], [AirTrafficControlService], [AirTrafficManagementService], 
* [AircraftStand] ====> [GuidanceLine], [Road], [DeicingArea], [PassengerLoadingBridge], [StandMarking], 
* [AirportHeliport] ====> [Runway], [Taxiway], [Apron], [Road], [TouchDownLiftOff], [WorkArea], [SurveyControlPoint], [NonMovementArea], [AirportHeliportCollocation], [AirportHotSpot], [RadarSystem], [InformationService], [GroundTrafficControlService], [AirTrafficControlService], [AirportGroundService], [AngleIndication], [DistanceIndication], [Navaid], [NavigationSystemCheckpoint], [DesignatedPoint], [SignificantPointInAirspace], [AeronauticalGroundLight], [Unit], [ObstacleArea], [TerminalArrivalArea], [NavigationArea], [Procedure], [FinalLeg], [SafeAltitudeArea], [ChangeOverPoint], [RulesProcedures], 
* [AirportHeliportProtectionArea] ====> [AirportProtectionAreaMarking], 
* [AirportSuppliesService] ====> [ApronElement], 
* [Airspace] ====> [AuthorityForAirspace], [StandardLevelSector], [InformationService], [AirTrafficControlService], [AirTrafficManagementService], [SearchRescueService], [SignificantPointInAirspace], [AirspaceBorderCrossing], [AerialRefuelling], [RulesProcedures], 
* [AltimeterSource] ====> [AirportHeliport], 
* [AngleIndication] ====> [SegmentLeg], 
* [Apron] ====> [GuidanceLine], [ApronElement], [DeicingArea], [ApronLightSystem], [ApronMarking], 
* [ApronElement] ====> [AircraftStand], 
* [DME] ====> [ProcedureDME], [RouteDME], 
* [DeicingArea] ====> [DeicingAreaMarking], 
* [DesignatedPoint] ====> [AngleIndication], [DistanceIndication], [SignificantPointInAirspace], [TerminalArrivalArea], [NavigationArea], [FinalLeg], [SafeAltitudeArea], [ChangeOverPoint], 
* [DirectionFinder] ====> [AirTrafficControlService], 
* [DistanceIndication] ====> [SegmentLeg], 
* [FloatingDockSite] ====> [SeaplaneLandingArea], 
* [GroundLightSystem] ====> [PilotControlledLighting], [VerticalStructure], 
* [GuidanceLine] ====> [TaxiHoldingPosition], [GuidanceLineLightSystem], [GuidanceLineMarking], 
* [HoldingPattern] ====> [HoldingAssessment], [InformationService], [AirTrafficControlService], 
* [InformationService] ====> [DirectionFinder], 
* [InstrumentApproachProcedure] ====> [CirclingArea], [TerminalArrivalArea], [ApproachLeg], 
* [MarkerBeacon] ====> [VerticalStructure], 
* [Navaid] ====> [AngleIndication], [DistanceIndication], [SignificantPointInAirspace], [TerminalArrivalArea], [NavigationArea], [Procedure], [FinalLeg], [SafeAltitudeArea], [ChangeOverPoint], 
* [NavaidEquipment] ====> [RadioFrequencyArea], [VerticalStructure], 
* [OrganisationAuthority] ====> [AuthorityForAirspace], [RadarSystem], [SpecialDate], [Unit], [ObstacleArea], [VerticalStructure], [Route], 
* [PassengerService] ====> [VerticalStructure], 
* [PrecisionApproachRadar] ====> [RadioFrequencyArea], 
* [Procedure] ====> [InformationService], [AirTrafficControlService], [NavigationAreaRestriction], 
* [RadarSystem] ====> [Procedure], 
* [RadioCommunicationChannel] ====> [RadioFrequencyArea], [Service], 
* [Route] ====> [Airspace], [RouteSegment], 
* [Runway] ====> [RunwayDirection], [RunwayElement], [TaxiHoldingPosition], [TouchDownLiftOff], [RunwayMarking], [RadarSystem], 
* [RunwayCentrelinePoint] ====> [GuidanceLine], [AngleIndication], [DistanceIndication], [DesignatedPoint], [SignificantPointInAirspace], [TerminalArrivalArea], [NavigationArea], [FinalLeg], [SafeAltitudeArea], [ChangeOverPoint], 
* [RunwayDirection] ====> [RunwayProtectArea], [RunwayCentrelinePoint], [ArrestingGear], [VisualGlideSlopeIndicator], [RunwayVisualRange], [RunwayBlastPad], [RunwayDirectionLightSystem], [ApproachLightingSystem], [Navaid], [ObstacleArea], 
* [RunwayElement] ====> [RunwayDirection], 
* [RunwayProtectArea] ====> [RunwayProtectAreaLightSystem], 
* [SafeAltitudeArea] ====> [Procedure], 
* [SeaplaneLandingArea] ====> [MarkingBuoy], 
* [SeaplaneRampSite] ====> [SeaplaneLandingArea], 
* [SecondarySurveillanceRadar] ====> [RadioFrequencyArea], 
* [SegmentLeg] ====> [ProcedureDME], 
* [Service] ====> [VerticalStructure], 
* [SpecialNavigationStation] ====> [RadioFrequencyArea], [VerticalStructure], 
* [SpecialNavigationSystem] ====> [SpecialNavigationStation], [Procedure], 
* [StandardInstrumentArrival] ====> [ArrivalLeg], 
* [StandardInstrumentDeparture] ====> [NavigationArea], [DepartureLeg], 
* [StandardLevelColumn] ====> [StandardLevelSector], 
* [StandardLevelTable] ====> [StandardLevelColumn], 
* [TaxiHoldingPosition] ====> [TaxiHoldingPositionLightSystem], [TaxiHoldingPositionMarking], 
* [Taxiway] ====> [TaxiwayElement], [GuidanceLine], [DeicingArea], [TaxiwayLightSystem], [TaxiwayMarking], 
* [TaxiwayElement] ====> [TaxiwayMarking], 
* [TouchDownLiftOff] ====> [GuidanceLine], [TouchDownLiftOffSafeArea], [TouchDownLiftOffLightSystem], [TouchDownLiftOffMarking], [AngleIndication], [DistanceIndication], [Navaid], [DesignatedPoint], [SignificantPointInAirspace], [TerminalArrivalArea], [NavigationArea], [FinalLeg], [SafeAltitudeArea], [ChangeOverPoint], 
* [Unit] ====> [Service], [VerticalStructure], 
* [UnplannedHolding] ====> [HoldingAssessment], 
* [VOR] ====> [InformationService], [CheckpointVOR], 
* [VerticalStructure] ====> [AeronauticalGroundLight], [ObstacleArea], 
*******************************************-->
    <element name="DirectionFinderExtension"
        substitutionGroup="aixm:AbstractDirectionFinderExtension" type="mxia:DirectionFinderExtensionType"/>
    <complexType name="DirectionFinderExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:DirectionFinderExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="DirectionFinderExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirTrafficControlService" nillable="true" type="aixm:AirTrafficControlServicePropertyType"/>
        </sequence>
    </group>
    <element name="ServiceExtension"
        substitutionGroup="aixm:AbstractServiceExtension" type="mxia:ServiceExtensionType"/>
    <complexType name="ServiceExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:ServiceExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="ServiceExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theVerticalStructure" nillable="true" type="aixm:VerticalStructurePropertyType"/>
        </sequence>
    </group>
    <element name="SeaplaneRampSiteExtension"
        substitutionGroup="aixm:AbstractSeaplaneRampSiteExtension" type="mxia:SeaplaneRampSiteExtensionType"/>
    <complexType name="SeaplaneRampSiteExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:SeaplaneRampSiteExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="SeaplaneRampSiteExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSeaplaneLandingArea" nillable="true" type="aixm:SeaplaneLandingAreaPropertyType"/>
        </sequence>
    </group>
    <element name="StandardLevelTableExtension"
        substitutionGroup="aixm:AbstractStandardLevelTableExtension" type="mxia:StandardLevelTableExtensionType"/>
    <complexType name="StandardLevelTableExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:StandardLevelTableExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="StandardLevelTableExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theStandardLevelColumn" nillable="true" type="aixm:StandardLevelColumnPropertyType"/>
        </sequence>
    </group>
    <element name="AerialRefuellingExtension"
        substitutionGroup="aixm:AbstractAerialRefuellingExtension" type="mxia:AerialRefuellingExtensionType"/>
    <complexType name="AerialRefuellingExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:AerialRefuellingExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="AerialRefuellingExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theInformationService" nillable="true" type="aixm:InformationServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirTrafficControlService" nillable="true" type="aixm:AirTrafficControlServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirTrafficManagementService" nillable="true" type="aixm:AirTrafficManagementServicePropertyType"/>
        </sequence>
    </group>
    <element name="UnplannedHoldingExtension"
        substitutionGroup="aixm:AbstractUnplannedHoldingExtension" type="mxia:UnplannedHoldingExtensionType"/>
    <complexType name="UnplannedHoldingExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:UnplannedHoldingExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="UnplannedHoldingExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theHoldingAssessment" nillable="true" type="aixm:HoldingAssessmentPropertyType"/>
        </sequence>
    </group>
    <element name="TouchDownLiftOffExtension"
        substitutionGroup="aixm:AbstractTouchDownLiftOffExtension" type="mxia:TouchDownLiftOffExtensionType"/>
    <complexType name="TouchDownLiftOffExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:TouchDownLiftOffExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="TouchDownLiftOffExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theGuidanceLine" nillable="true" type="aixm:GuidanceLinePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTouchDownLiftOffSafeArea" nillable="true" type="aixm:TouchDownLiftOffSafeAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTouchDownLiftOffLightSystem" nillable="true" type="aixm:TouchDownLiftOffLightSystemPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTouchDownLiftOffMarking" nillable="true" type="aixm:TouchDownLiftOffMarkingPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAngleIndication" nillable="true" type="aixm:AngleIndicationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDistanceIndication" nillable="true" type="aixm:DistanceIndicationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavaid" nillable="true" type="aixm:NavaidPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDesignatedPoint" nillable="true" type="aixm:DesignatedPointPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSignificantPointInAirspace" nillable="true" type="aixm:SignificantPointInAirspacePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTerminalArrivalArea" nillable="true" type="aixm:TerminalArrivalAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavigationArea" nillable="true" type="aixm:NavigationAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theFinalLeg" nillable="true" type="aixm:FinalLegPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSafeAltitudeArea" nillable="true" type="aixm:SafeAltitudeAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theChangeOverPoint" nillable="true" type="aixm:ChangeOverPointPropertyType"/>
        </sequence>
    </group>
    <element name="DistanceIndicationExtension"
        substitutionGroup="aixm:AbstractDistanceIndicationExtension" type="mxia:DistanceIndicationExtensionType"/>
    <complexType name="DistanceIndicationExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:DistanceIndicationExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="DistanceIndicationExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSegmentLeg" nillable="true" type="aixm:SegmentLegPropertyType"/>
        </sequence>
    </group>
    <element name="RunwayCentrelinePointExtension"
        substitutionGroup="aixm:AbstractRunwayCentrelinePointExtension" type="mxia:RunwayCentrelinePointExtensionType"/>
    <complexType name="RunwayCentrelinePointExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:RunwayCentrelinePointExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="RunwayCentrelinePointExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theGuidanceLine" nillable="true" type="aixm:GuidanceLinePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAngleIndication" nillable="true" type="aixm:AngleIndicationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDistanceIndication" nillable="true" type="aixm:DistanceIndicationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDesignatedPoint" nillable="true" type="aixm:DesignatedPointPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSignificantPointInAirspace" nillable="true" type="aixm:SignificantPointInAirspacePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTerminalArrivalArea" nillable="true" type="aixm:TerminalArrivalAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavigationArea" nillable="true" type="aixm:NavigationAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theFinalLeg" nillable="true" type="aixm:FinalLegPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSafeAltitudeArea" nillable="true" type="aixm:SafeAltitudeAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theChangeOverPoint" nillable="true" type="aixm:ChangeOverPointPropertyType"/>
        </sequence>
    </group>
    <element name="MarkerBeaconExtension"
        substitutionGroup="aixm:AbstractMarkerBeaconExtension" type="mxia:MarkerBeaconExtensionType"/>
    <complexType name="MarkerBeaconExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:MarkerBeaconExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="MarkerBeaconExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theVerticalStructure" nillable="true" type="aixm:VerticalStructurePropertyType"/>
        </sequence>
    </group>
    <element name="DesignatedPointExtension"
        substitutionGroup="aixm:AbstractDesignatedPointExtension" type="mxia:DesignatedPointExtensionType"/>
    <complexType name="DesignatedPointExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:DesignatedPointExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="DesignatedPointExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAngleIndication" nillable="true" type="aixm:AngleIndicationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDistanceIndication" nillable="true" type="aixm:DistanceIndicationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSignificantPointInAirspace" nillable="true" type="aixm:SignificantPointInAirspacePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTerminalArrivalArea" nillable="true" type="aixm:TerminalArrivalAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavigationArea" nillable="true" type="aixm:NavigationAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theFinalLeg" nillable="true" type="aixm:FinalLegPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSafeAltitudeArea" nillable="true" type="aixm:SafeAltitudeAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theChangeOverPoint" nillable="true" type="aixm:ChangeOverPointPropertyType"/>
        </sequence>
    </group>
    <element name="RouteExtension"
        substitutionGroup="aixm:AbstractRouteExtension" type="mxia:RouteExtensionType"/>
    <complexType name="RouteExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:RouteExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="RouteExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirspace" nillable="true" type="aixm:AirspacePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRouteSegment" nillable="true" type="aixm:RouteSegmentPropertyType"/>
        </sequence>
    </group>
    <element name="AirportSuppliesServiceExtension"
        substitutionGroup="aixm:AbstractAirportSuppliesServiceExtension" type="mxia:AirportSuppliesServiceExtensionType"/>
    <complexType name="AirportSuppliesServiceExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:AirportSuppliesServiceExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="AirportSuppliesServiceExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theApronElement" nillable="true" type="aixm:ApronElementPropertyType"/>
        </sequence>
    </group>
    <element name="SegmentLegExtension"
        substitutionGroup="aixm:AbstractSegmentLegExtension" type="mxia:SegmentLegExtensionType"/>
    <complexType name="SegmentLegExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:SegmentLegExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="SegmentLegExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theProcedureDME" nillable="true" type="aixm:ProcedureDMEPropertyType"/>
        </sequence>
    </group>
    <element name="ApronExtension"
        substitutionGroup="aixm:AbstractApronExtension" type="mxia:ApronExtensionType"/>
    <complexType name="ApronExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:ApronExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="ApronExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theGuidanceLine" nillable="true" type="aixm:GuidanceLinePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theApronElement" nillable="true" type="aixm:ApronElementPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDeicingArea" nillable="true" type="aixm:DeicingAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theApronLightSystem" nillable="true" type="aixm:ApronLightSystemPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theApronMarking" nillable="true" type="aixm:ApronMarkingPropertyType"/>
        </sequence>
    </group>
    <element name="InformationServiceExtension"
        substitutionGroup="aixm:AbstractInformationServiceExtension" type="mxia:InformationServiceExtensionType"/>
    <complexType name="InformationServiceExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:InformationServiceExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="InformationServiceExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDirectionFinder" nillable="true" type="aixm:DirectionFinderPropertyType"/>
        </sequence>
    </group>
    <element name="AltimeterSourceExtension"
        substitutionGroup="aixm:AbstractAltimeterSourceExtension" type="mxia:AltimeterSourceExtensionType"/>
    <complexType name="AltimeterSourceExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:AltimeterSourceExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="AltimeterSourceExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirportHeliport" nillable="true" type="aixm:AirportHeliportPropertyType"/>
        </sequence>
    </group>
    <element name="ApronElementExtension"
        substitutionGroup="aixm:AbstractApronElementExtension" type="mxia:ApronElementExtensionType"/>
    <complexType name="ApronElementExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:ApronElementExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="ApronElementExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAircraftStand" nillable="true" type="aixm:AircraftStandPropertyType"/>
        </sequence>
    </group>
    <element name="TaxiwayExtension"
        substitutionGroup="aixm:AbstractTaxiwayExtension" type="mxia:TaxiwayExtensionType"/>
    <complexType name="TaxiwayExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:TaxiwayExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="TaxiwayExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTaxiwayElement" nillable="true" type="aixm:TaxiwayElementPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theGuidanceLine" nillable="true" type="aixm:GuidanceLinePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDeicingArea" nillable="true" type="aixm:DeicingAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTaxiwayLightSystem" nillable="true" type="aixm:TaxiwayLightSystemPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTaxiwayMarking" nillable="true" type="aixm:TaxiwayMarkingPropertyType"/>
        </sequence>
    </group>
    <element name="SafeAltitudeAreaExtension"
        substitutionGroup="aixm:AbstractSafeAltitudeAreaExtension" type="mxia:SafeAltitudeAreaExtensionType"/>
    <complexType name="SafeAltitudeAreaExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:SafeAltitudeAreaExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="SafeAltitudeAreaExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theProcedure" nillable="true" type="aixm:ProcedurePropertyType"/>
        </sequence>
    </group>
    <element name="TaxiHoldingPositionExtension"
        substitutionGroup="aixm:AbstractTaxiHoldingPositionExtension" type="mxia:TaxiHoldingPositionExtensionType"/>
    <complexType name="TaxiHoldingPositionExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:TaxiHoldingPositionExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="TaxiHoldingPositionExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTaxiHoldingPositionLightSystem" nillable="true" type="aixm:TaxiHoldingPositionLightSystemPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTaxiHoldingPositionMarking" nillable="true" type="aixm:TaxiHoldingPositionMarkingPropertyType"/>
        </sequence>
    </group>
    <element name="DeicingAreaExtension"
        substitutionGroup="aixm:AbstractDeicingAreaExtension" type="mxia:DeicingAreaExtensionType"/>
    <complexType name="DeicingAreaExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:DeicingAreaExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="DeicingAreaExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDeicingAreaMarking" nillable="true" type="aixm:DeicingAreaMarkingPropertyType"/>
        </sequence>
    </group>
    <element name="FloatingDockSiteExtension"
        substitutionGroup="aixm:AbstractFloatingDockSiteExtension" type="mxia:FloatingDockSiteExtensionType"/>
    <complexType name="FloatingDockSiteExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:FloatingDockSiteExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="FloatingDockSiteExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSeaplaneLandingArea" nillable="true" type="aixm:SeaplaneLandingAreaPropertyType"/>
        </sequence>
    </group>
    <element name="RunwayProtectAreaExtension"
        substitutionGroup="aixm:AbstractRunwayProtectAreaExtension" type="mxia:RunwayProtectAreaExtensionType"/>
    <complexType name="RunwayProtectAreaExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:RunwayProtectAreaExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="RunwayProtectAreaExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunwayProtectAreaLightSystem" nillable="true" type="aixm:RunwayProtectAreaLightSystemPropertyType"/>
        </sequence>
    </group>
    <element name="SeaplaneLandingAreaExtension"
        substitutionGroup="aixm:AbstractSeaplaneLandingAreaExtension" type="mxia:SeaplaneLandingAreaExtensionType"/>
    <complexType name="SeaplaneLandingAreaExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:SeaplaneLandingAreaExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="SeaplaneLandingAreaExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theMarkingBuoy" nillable="true" type="aixm:MarkingBuoyPropertyType"/>
        </sequence>
    </group>
    <element name="SpecialNavigationStationExtension"
        substitutionGroup="aixm:AbstractSpecialNavigationStationExtension" type="mxia:SpecialNavigationStationExtensionType"/>
    <complexType name="SpecialNavigationStationExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:SpecialNavigationStationExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="SpecialNavigationStationExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRadioFrequencyArea" nillable="true" type="aixm:RadioFrequencyAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theVerticalStructure" nillable="true" type="aixm:VerticalStructurePropertyType"/>
        </sequence>
    </group>
    <element name="SecondarySurveillanceRadarExtension"
        substitutionGroup="aixm:AbstractSecondarySurveillanceRadarExtension" type="mxia:SecondarySurveillanceRadarExtensionType"/>
    <complexType name="SecondarySurveillanceRadarExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:SecondarySurveillanceRadarExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="SecondarySurveillanceRadarExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRadioFrequencyArea" nillable="true" type="aixm:RadioFrequencyAreaPropertyType"/>
        </sequence>
    </group>
    <element name="RunwayExtension"
        substitutionGroup="aixm:AbstractRunwayExtension" type="mxia:RunwayExtensionType"/>
    <complexType name="RunwayExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:RunwayExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="RunwayExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunwayDirection" nillable="true" type="aixm:RunwayDirectionPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunwayElement" nillable="true" type="aixm:RunwayElementPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTaxiHoldingPosition" nillable="true" type="aixm:TaxiHoldingPositionPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTouchDownLiftOff" nillable="true" type="aixm:TouchDownLiftOffPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunwayMarking" nillable="true" type="aixm:RunwayMarkingPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRadarSystem" nillable="true" type="aixm:RadarSystemPropertyType"/>
        </sequence>
    </group>
    <element name="ProcedureExtension"
        substitutionGroup="aixm:AbstractProcedureExtension" type="mxia:ProcedureExtensionType"/>
    <complexType name="ProcedureExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:ProcedureExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="ProcedureExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theInformationService" nillable="true" type="aixm:InformationServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirTrafficControlService" nillable="true" type="aixm:AirTrafficControlServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavigationAreaRestriction" nillable="true" type="aixm:NavigationAreaRestrictionPropertyType"/>
        </sequence>
    </group>
    <element name="NavaidExtension"
        substitutionGroup="aixm:AbstractNavaidExtension" type="mxia:NavaidExtensionType"/>
    <complexType name="NavaidExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:NavaidExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="NavaidExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAngleIndication" nillable="true" type="aixm:AngleIndicationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDistanceIndication" nillable="true" type="aixm:DistanceIndicationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSignificantPointInAirspace" nillable="true" type="aixm:SignificantPointInAirspacePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTerminalArrivalArea" nillable="true" type="aixm:TerminalArrivalAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavigationArea" nillable="true" type="aixm:NavigationAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theProcedure" nillable="true" type="aixm:ProcedurePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theFinalLeg" nillable="true" type="aixm:FinalLegPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSafeAltitudeArea" nillable="true" type="aixm:SafeAltitudeAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theChangeOverPoint" nillable="true" type="aixm:ChangeOverPointPropertyType"/>
        </sequence>
    </group>
    <element name="UnitExtension"
        substitutionGroup="aixm:AbstractUnitExtension" type="mxia:UnitExtensionType"/>
    <complexType name="UnitExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:UnitExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="UnitExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theService" nillable="true" type="aixm:ServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theVerticalStructure" nillable="true" type="aixm:VerticalStructurePropertyType"/>
        </sequence>
    </group>
    <element name="AirportHeliportExtension"
        substitutionGroup="aixm:AbstractAirportHeliportExtension" type="mxia:AirportHeliportExtensionType"/>
    <complexType name="AirportHeliportExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:AirportHeliportExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="AirportHeliportExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunway" nillable="true" type="aixm:RunwayPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTaxiway" nillable="true" type="aixm:TaxiwayPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="theApron"
                nillable="true" type="aixm:ApronPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="theRoad"
                nillable="true" type="aixm:RoadPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTouchDownLiftOff" nillable="true" type="aixm:TouchDownLiftOffPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theWorkArea" nillable="true" type="aixm:WorkAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSurveyControlPoint" nillable="true" type="aixm:SurveyControlPointPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNonMovementArea" nillable="true" type="aixm:NonMovementAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirportHeliportCollocation" nillable="true" type="aixm:AirportHeliportCollocationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirportHotSpot" nillable="true" type="aixm:AirportHotSpotPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRadarSystem" nillable="true" type="aixm:RadarSystemPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theInformationService" nillable="true" type="aixm:InformationServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theGroundTrafficControlService" nillable="true" type="aixm:GroundTrafficControlServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirTrafficControlService" nillable="true" type="aixm:AirTrafficControlServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirportGroundService" nillable="true" type="aixm:AirportGroundServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAngleIndication" nillable="true" type="aixm:AngleIndicationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDistanceIndication" nillable="true" type="aixm:DistanceIndicationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavaid" nillable="true" type="aixm:NavaidPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavigationSystemCheckpoint" nillable="true" type="aixm:NavigationSystemCheckpointPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDesignatedPoint" nillable="true" type="aixm:DesignatedPointPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSignificantPointInAirspace" nillable="true" type="aixm:SignificantPointInAirspacePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAeronauticalGroundLight" nillable="true" type="aixm:AeronauticalGroundLightPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="theUnit"
                nillable="true" type="aixm:UnitPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theObstacleArea" nillable="true" type="aixm:ObstacleAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTerminalArrivalArea" nillable="true" type="aixm:TerminalArrivalAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavigationArea" nillable="true" type="aixm:NavigationAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theProcedure" nillable="true" type="aixm:ProcedurePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theFinalLeg" nillable="true" type="aixm:FinalLegPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSafeAltitudeArea" nillable="true" type="aixm:SafeAltitudeAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theChangeOverPoint" nillable="true" type="aixm:ChangeOverPointPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRulesProcedures" nillable="true" type="aixm:RulesProceduresPropertyType"/>
        </sequence>
    </group>
    <element name="DMEExtension"
        substitutionGroup="aixm:AbstractDMEExtension" type="mxia:DMEExtensionType"/>
    <complexType name="DMEExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:DMEExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="DMEExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theProcedureDME" nillable="true" type="aixm:ProcedureDMEPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRouteDME" nillable="true" type="aixm:RouteDMEPropertyType"/>
        </sequence>
    </group>
    <element name="TaxiwayElementExtension"
        substitutionGroup="aixm:AbstractTaxiwayElementExtension" type="mxia:TaxiwayElementExtensionType"/>
    <complexType name="TaxiwayElementExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:TaxiwayElementExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="TaxiwayElementExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTaxiwayMarking" nillable="true" type="aixm:TaxiwayMarkingPropertyType"/>
        </sequence>
    </group>
    <element name="GuidanceLineExtension"
        substitutionGroup="aixm:AbstractGuidanceLineExtension" type="mxia:GuidanceLineExtensionType"/>
    <complexType name="GuidanceLineExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:GuidanceLineExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="GuidanceLineExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTaxiHoldingPosition" nillable="true" type="aixm:TaxiHoldingPositionPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theGuidanceLineLightSystem" nillable="true" type="aixm:GuidanceLineLightSystemPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theGuidanceLineMarking" nillable="true" type="aixm:GuidanceLineMarkingPropertyType"/>
        </sequence>
    </group>
    <element name="GroundLightSystemExtension"
        substitutionGroup="aixm:AbstractGroundLightSystemExtension" type="mxia:GroundLightSystemExtensionType"/>
    <complexType name="GroundLightSystemExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:GroundLightSystemExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="GroundLightSystemExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="thePilotControlledLighting" nillable="true" type="aixm:PilotControlledLightingPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theVerticalStructure" nillable="true" type="aixm:VerticalStructurePropertyType"/>
        </sequence>
    </group>
    <element name="StandardInstrumentDepartureExtension"
        substitutionGroup="aixm:AbstractStandardInstrumentDepartureExtension" type="mxia:StandardInstrumentDepartureExtensionType"/>
    <complexType name="StandardInstrumentDepartureExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:StandardInstrumentDepartureExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="StandardInstrumentDepartureExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavigationArea" nillable="true" type="aixm:NavigationAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDepartureLeg" nillable="true" type="aixm:DepartureLegPropertyType"/>
        </sequence>
    </group>
    <element name="RunwayElementExtension"
        substitutionGroup="aixm:AbstractRunwayElementExtension" type="mxia:RunwayElementExtensionType"/>
    <complexType name="RunwayElementExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:RunwayElementExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="RunwayElementExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunwayDirection" nillable="true" type="aixm:RunwayDirectionPropertyType"/>
        </sequence>
    </group>
    <element name="RadioCommunicationChannelExtension"
        substitutionGroup="aixm:AbstractRadioCommunicationChannelExtension" type="mxia:RadioCommunicationChannelExtensionType"/>
    <complexType name="RadioCommunicationChannelExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:RadioCommunicationChannelExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="RadioCommunicationChannelExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRadioFrequencyArea" nillable="true" type="aixm:RadioFrequencyAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theService" nillable="true" type="aixm:ServicePropertyType"/>
        </sequence>
    </group>
    <element name="VerticalStructureExtension"
        substitutionGroup="aixm:AbstractVerticalStructureExtension" type="mxia:VerticalStructureExtensionType"/>
    <complexType name="VerticalStructureExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:VerticalStructureExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="VerticalStructureExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAeronauticalGroundLight" nillable="true" type="aixm:AeronauticalGroundLightPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theObstacleArea" nillable="true" type="aixm:ObstacleAreaPropertyType"/>
        </sequence>
    </group>
    <element name="AngleIndicationExtension"
        substitutionGroup="aixm:AbstractAngleIndicationExtension" type="mxia:AngleIndicationExtensionType"/>
    <complexType name="AngleIndicationExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:AngleIndicationExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="AngleIndicationExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSegmentLeg" nillable="true" type="aixm:SegmentLegPropertyType"/>
        </sequence>
    </group>
    <element name="RadarSystemExtension"
        substitutionGroup="aixm:AbstractRadarSystemExtension" type="mxia:RadarSystemExtensionType"/>
    <complexType name="RadarSystemExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:RadarSystemExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="RadarSystemExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theProcedure" nillable="true" type="aixm:ProcedurePropertyType"/>
        </sequence>
    </group>
    <element name="AircraftStandExtension"
        substitutionGroup="aixm:AbstractAircraftStandExtension" type="mxia:AircraftStandExtensionType"/>
    <complexType name="AircraftStandExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:AircraftStandExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="AircraftStandExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theGuidanceLine" nillable="true" type="aixm:GuidanceLinePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="theRoad"
                nillable="true" type="aixm:RoadPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theDeicingArea" nillable="true" type="aixm:DeicingAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="thePassengerLoadingBridge" nillable="true" type="aixm:PassengerLoadingBridgePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theStandMarking" nillable="true" type="aixm:StandMarkingPropertyType"/>
        </sequence>
    </group>
    <element name="AirspaceExtension"
        substitutionGroup="aixm:AbstractAirspaceExtension" type="mxia:AirspaceExtensionType"/>
    <complexType name="AirspaceExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:AirspaceExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="AirspaceExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAuthorityForAirspace" nillable="true" type="aixm:AuthorityForAirspacePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theStandardLevelSector" nillable="true" type="aixm:StandardLevelSectorPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theInformationService" nillable="true" type="aixm:InformationServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirTrafficControlService" nillable="true" type="aixm:AirTrafficControlServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirTrafficManagementService" nillable="true" type="aixm:AirTrafficManagementServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSearchRescueService" nillable="true" type="aixm:SearchRescueServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSignificantPointInAirspace" nillable="true" type="aixm:SignificantPointInAirspacePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirspaceBorderCrossing" nillable="true" type="aixm:AirspaceBorderCrossingPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAerialRefuelling" nillable="true" type="aixm:AerialRefuellingPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRulesProcedures" nillable="true" type="aixm:RulesProceduresPropertyType"/>
        </sequence>
    </group>
    <element name="RunwayDirectionExtension"
        substitutionGroup="aixm:AbstractRunwayDirectionExtension" type="mxia:RunwayDirectionExtensionType"/>
    <complexType name="RunwayDirectionExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:RunwayDirectionExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="RunwayDirectionExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunwayProtectArea" nillable="true" type="aixm:RunwayProtectAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunwayCentrelinePoint" nillable="true" type="aixm:RunwayCentrelinePointPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theArrestingGear" nillable="true" type="aixm:ArrestingGearPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theVisualGlideSlopeIndicator" nillable="true" type="aixm:VisualGlideSlopeIndicatorPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunwayVisualRange" nillable="true" type="aixm:RunwayVisualRangePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunwayBlastPad" nillable="true" type="aixm:RunwayBlastPadPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRunwayDirectionLightSystem" nillable="true" type="aixm:RunwayDirectionLightSystemPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theApproachLightingSystem" nillable="true" type="aixm:ApproachLightingSystemPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theNavaid" nillable="true" type="aixm:NavaidPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theObstacleArea" nillable="true" type="aixm:ObstacleAreaPropertyType"/>
        </sequence>
    </group>
    <element name="PrecisionApproachRadarExtension"
        substitutionGroup="aixm:AbstractPrecisionApproachRadarExtension" type="mxia:PrecisionApproachRadarExtensionType"/>
    <complexType name="PrecisionApproachRadarExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:PrecisionApproachRadarExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="PrecisionApproachRadarExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRadioFrequencyArea" nillable="true" type="aixm:RadioFrequencyAreaPropertyType"/>
        </sequence>
    </group>
    <element name="StandardInstrumentArrivalExtension"
        substitutionGroup="aixm:AbstractStandardInstrumentArrivalExtension" type="mxia:StandardInstrumentArrivalExtensionType"/>
    <complexType name="StandardInstrumentArrivalExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:StandardInstrumentArrivalExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="StandardInstrumentArrivalExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theArrivalLeg" nillable="true" type="aixm:ArrivalLegPropertyType"/>
        </sequence>
    </group>
    <element name="SpecialNavigationSystemExtension"
        substitutionGroup="aixm:AbstractSpecialNavigationSystemExtension" type="mxia:SpecialNavigationSystemExtensionType"/>
    <complexType name="SpecialNavigationSystemExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:SpecialNavigationSystemExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="SpecialNavigationSystemExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSpecialNavigationStation" nillable="true" type="aixm:SpecialNavigationStationPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theProcedure" nillable="true" type="aixm:ProcedurePropertyType"/>
        </sequence>
    </group>
    <element name="OrganisationAuthorityExtension"
        substitutionGroup="aixm:AbstractOrganisationAuthorityExtension" type="mxia:OrganisationAuthorityExtensionType"/>
    <complexType name="OrganisationAuthorityExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:OrganisationAuthorityExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="OrganisationAuthorityExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAuthorityForAirspace" nillable="true" type="aixm:AuthorityForAirspacePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRadarSystem" nillable="true" type="aixm:RadarSystemPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theSpecialDate" nillable="true" type="aixm:SpecialDatePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="theUnit"
                nillable="true" type="aixm:UnitPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theObstacleArea" nillable="true" type="aixm:ObstacleAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theVerticalStructure" nillable="true" type="aixm:VerticalStructurePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="theRoute"
                nillable="true" type="aixm:RoutePropertyType"/>
        </sequence>
    </group>
    <element name="HoldingPatternExtension"
        substitutionGroup="aixm:AbstractHoldingPatternExtension" type="mxia:HoldingPatternExtensionType"/>
    <complexType name="HoldingPatternExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:HoldingPatternExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="HoldingPatternExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theHoldingAssessment" nillable="true" type="aixm:HoldingAssessmentPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theInformationService" nillable="true" type="aixm:InformationServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirTrafficControlService" nillable="true" type="aixm:AirTrafficControlServicePropertyType"/>
        </sequence>
    </group>
    <element name="NavaidEquipmentExtension"
        substitutionGroup="aixm:AbstractNavaidEquipmentExtension" type="mxia:NavaidEquipmentExtensionType"/>
    <complexType name="NavaidEquipmentExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:NavaidEquipmentExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="NavaidEquipmentExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theRadioFrequencyArea" nillable="true" type="aixm:RadioFrequencyAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theVerticalStructure" nillable="true" type="aixm:VerticalStructurePropertyType"/>
        </sequence>
    </group>
    <element name="PassengerServiceExtension"
        substitutionGroup="aixm:AbstractPassengerServiceExtension" type="mxia:PassengerServiceExtensionType"/>
    <complexType name="PassengerServiceExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:PassengerServiceExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="PassengerServiceExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theVerticalStructure" nillable="true" type="aixm:VerticalStructurePropertyType"/>
        </sequence>
    </group>
    <element name="AirportHeliportProtectionAreaExtension"
        substitutionGroup="aixm:AbstractAirportHeliportProtectionAreaExtension" type="mxia:AirportHeliportProtectionAreaExtensionType"/>
    <complexType name="AirportHeliportProtectionAreaExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:AirportHeliportProtectionAreaExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="AirportHeliportProtectionAreaExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theAirportProtectionAreaMarking" nillable="true" type="aixm:AirportProtectionAreaMarkingPropertyType"/>
        </sequence>
    </group>
    <element name="StandardLevelColumnExtension"
        substitutionGroup="aixm:AbstractStandardLevelColumnExtension" type="mxia:StandardLevelColumnExtensionType"/>
    <complexType name="StandardLevelColumnExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:StandardLevelColumnExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="StandardLevelColumnExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theStandardLevelSector" nillable="true" type="aixm:StandardLevelSectorPropertyType"/>
        </sequence>
    </group>
    <element name="VORExtension"
        substitutionGroup="aixm:AbstractVORExtension" type="mxia:VORExtensionType"/>
    <complexType name="VORExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:VORExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="VORExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theInformationService" nillable="true" type="aixm:InformationServicePropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theCheckpointVOR" nillable="true" type="aixm:CheckpointVORPropertyType"/>
        </sequence>
    </group>
    <element name="InstrumentApproachProcedureExtension"
        substitutionGroup="aixm:AbstractInstrumentApproachProcedureExtension" type="mxia:InstrumentApproachProcedureExtensionType"/>
    <complexType name="InstrumentApproachProcedureExtensionType">
        <complexContent>
            <extension base="aixm:AbstractExtensionType">
                <sequence>
                    <group ref="mxia:InstrumentApproachProcedureExtensionPropertyGroup"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <group name="InstrumentApproachProcedureExtensionPropertyGroup">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theCirclingArea" nillable="true" type="aixm:CirclingAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theTerminalArrivalArea" nillable="true" type="aixm:TerminalArrivalAreaPropertyType"/>
            <element maxOccurs="unbounded" minOccurs="0"
                name="theApproachLeg" nillable="true" type="aixm:ApproachLegPropertyType"/>
        </sequence>
    </group>
</schema>
